.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.BoxWrapper {
  display:flex;
  width: 60%;
  height: 60%;
  margin: auto;
}

.BoxWrapper > input {
  display:block;
  width: 100%;
  height: 100%;
}

.LoadingText {
  font-size: 3em;
  margin: auto;
  text-align: center;
}